.gcloudignore
.git
.github
/node_modules
!/.next/standalone/node_modules
!/.next/standalone/node_modules/**
.next/cache
.next/dev
.next/diagnostics
.firebase
*.log
*.md
functions
functions-*
backups
migration_bundle
HORTMAN
test-screenshots
cloudrun_backend
.vercel
*.pdf
tests
docs
.DS_Store
.env*
