.gcloudignore
.git
.github
/node_modules
/.node_modules_bad
!/.next/standalone/node_modules
!/.next/standalone/node_modules/**
.next/cache
.next/dev
.next/diagnostics
.firebase
*.log
*.md
functions/
functions-*/
!functions-config-manifest.json
!**/functions-config-manifest.json
backups
migration_bundle
HORTMAN
test-screenshots
cloudrun
cloudrun_backend
.vercel
*.pdf
*.png
*.jpg
*.jpeg
tests
cypress
docs
scratch
.DS_Store
.env*
